// variables
$color1: #222;
$color2: #efefef;
$color3: #fba919;
$color4: #bf9713;

/*
 *img[src$=".gif"], img[src$=".png"] {
 * image-rendering        : -moz-crisp-edges;         [> Firefox <]
 * image-rendering        : -o-crisp-edges;         [> Opera <]
 * image-rendering        : -webkit-optimize-contrast;[> Webkit (non-standard naming) <]
 * image-rendering        : crisp-edges;
 * -ms-interpolation-mode : nearest-neighbor;  [> IE (non-standard property) <]
 *}
 */
// default styling

body.custom-background {
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	/*color: $color3;*/
	text-decoration: none;
  color: #111;
  outline: 0;
}

h1 a {
	color: $color2;
}

img {
	max-width: 100%;
	height: auto;
}

input, textarea {
	border: 1px solid $color1;
	background: $color2;
	padding: 0.3em 0.4em;
	/*box-shadow: inset -1px -1px 6px $color1;*/
}

.site {
	overflow: hidden;
	/*background: rgba($color1, 0.85);*/
  background: #222;
	@include outer-container;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

::-moz-selection {
  background: #f0c214; color: #111;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
::selection {
  background: #f0c214; color: #111;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
