.widget {
  color: #fff;
  .widgettitle {
    font-style: italic;
  }
}

.home-widgets {
  .inner { list-style: none; }
}
.home .post-content {
  &:after {
  }
}

/**
 * Home Banner Image
 *
 * Logo placement.
 */
.home--banner-image {
  @include row();
}

.widget_sp_image:nth-of-type(1) {
  position: relative;
  top: 0;
  margin-top: 2rem;
  @include media($large) {
    margin-top: 0;
    top: -2rem;
  }
  z-index: 1;
  img {
    width: 100% !important;
    box-shadow: 10px 29px 74px -6px rgba(0,0,0,0.69);
  }
}

.widget_sp_image:nth-of-type(4) {
  img {
    width: 100% !important;
    box-shadow: 10px 29px 74px -6px rgba(0,0,0,0.69);
  }
}

.home-followup-widgets {
  @include row();
  ul { margin: 0; }
  position: relative;
  margin-top: -2rem;
}
dd {
  margin-left: 0;
}

/**
 * Home Specials
 */
.home--specials {
  @include span-columns(10);
  @include shift(1);

  @include media($large) {
    @include span-columns(5);
    @include shift(1);
  }
  padding-bottom: 3rem;
  .textwidget {
  }
  dl {
    @include row();
    dt {
      @include span-columns(4);
      color: #f0c214;
      font-weight: 700;
    }
    dd {
      @include span-columns(7.5);
    }
  }
}

.home-followup-widgets {

  position: relative;

  .home--logo {
    display: none;
    @include media($large) {
      @include span-columns(2.9, block-collapse);
      @include row();

      z-index: 11;
      position: relative;
      left: $gutter / 2;
      position: relative;
    }

    img {
      display: block;
      margin: 0 auto;
      z-index: 11;
      position: relative;
      padding: 1rem;
    }

    &:before {
      @include media($large) {
        height: 41rem;
        background: #2e6f89;
        position: absolute;
        opacity: .8;
        z-index: 1;
        content: " ";
        display: block;
        top: -4rem;
        @include span-columns(11.55, block-collapse);
      }
    }

  }

  .home--social {
    left: $gutter / 2;
    position: relative;
    z-index: 13;
    @include media($large) {
      @include span-columns(2.8, block-collapse);
      @include row();
    }

    #acurax_si_widget_simple {
      z-index: 12;
      margin-bottom: 2rem;
      @include span-columns(10);

      bottom: auto;
      @include media($large) {
        margin-bottom: 0;
        @include span-columns(12, block-collapse);
        z-index: 13;
        position: absolute;
        bottom: -23rem;
      }
      img { position: absolute; left: -9999px; }
      a[href*="twitter"] {
        display: inline-block;
        @extend .fa;
        @extend .fa-twitter;
        @extend .fa-lg;
      }
      a[href*="facebook"] {
        display: inline-block;
        @extend .fa;
        @extend .fa-facebook;
        @extend .fa-lg;
      }
      a[href*="pinterest"] {
        display: inline-block;
        @extend .fa;
        @extend .fa-pinterest;
        @extend .fa-lg;
      }
      a[href*="google"] {
        display: inline-block;
        @extend .fa;
        @extend .fa-google-plus;
        @extend .fa-lg;
      }
      a {
        margin: 0 $gutter/2;
        color: #306170;
        @include media($large) {
          color: #111;
        }
        &:hover {
          color: $color4;
          @include transition (all .5s ease-in-out);
          @include transform( rotate(360deg) scale(2) );
        }
      }

    }
  }

  .home--our-story {
    h2 {
      border-bottom: 3px #306170 double;
    }
    p {
      overflow: auto !important;
      height: 80%;
    }
    @include span-columns(10);
    @include shift(1);
    @include media($large) {
      background: $color4;
      position: relative;
      font-size: .9rem;
      border-bottom: 5px #306170 solid;
      height: 51rem;
      top: -.42rem;
      margin-left: 54px;
      @include span-columns(3.23);
      @include pad(5rem default 0 default);
    }
    font-family: $base-font;
    h2 {
      font-family: $header-font;
      font-size: 1.5rem;
    }
    a {
      font-weight: 700;
      color: #306170;
      position: relative;
      z-index: 30;
    }
  }
  @-moz-document url-prefix() {
    .home--our-story {
      @include span-columns(10);
      @include shift(1);
      @include media($large) {
        @include span-columns(3.23);
        margin-left: 54px;
      }
    }
  }
  .tribe-events-list-widget.home--calendar {

    @include row();
    position: relative;

    .tribe-events-widget-link {
      a {
        font-weight: 700;
        letter-spacing: .1rem;
        text-transform: lowercase;
        color: #c1503a;
        font-variant: small-caps;
      }
      @include media($large) {
        margin: 0;
        position: absolute;
        top: -350px;
        /*left: $gutter;*/
        right: 5%;
        z-index: 35;
      }
      /*
       *margin-top: -18rem;
       *margin-left: 12.8rem;
       */
      /*
       *@include span-columns(3.5);
       *@include shift(.5);
       */
      text-align: center;
      /*text-indent: -$gutter;*/
    }

    padding-top: 78px !important;
    @include media($large) {
      padding-top: 0 !important;
    }

    .vcalendar {
      padding-left: 0;
      @include media($large) {
        padding-left: 40px;
      }
    }
    h2 { position: absolute; left: -9999px; }
    @include span-columns(12);
    /*@include shift(-3);*/
    ol.vcalendar {
      @include row();
      margin-bottom: 0;
    }
    .long {
      height: 700px;
      height: 40rem;
      /*
       *background-image: url('./wp-content/themes/absolvution/images/whitenoise.png');
       *background-size: 50%;
       */
    }

    li.tribe-events-list-widget-events {}

    .hentry {}
    .vevent {}
    .duration {
      font-size: .85rem;
      position: absolute;
      top: 3rem;
      left: 0;
      z-index: 12;
      @include pad(.5rem 0.15rem 0.15rem .5rem);
      @include transition (all .5s ease-in-out);
    }
    li.type-tribe_events {
      position: relative;
      overflow: hidden;
      a {
        &:after {
          content: " ";
          background: #111;
          display: block;
          height: 100%;
          width: 110%;
          top: 0;
          margin-top: -100%;
          position: relative;
          z-index: -1;
          opacity: 0;
          margin-left: -5%;
        }
        @include transition (all .5s ease-in-out);
        position: relative;
        z-index: 9001;
        color: #fff;
        &:hover {
          color: #fff !important;
        }
        @include pad(.5rem 0.15rem 0.15rem .5rem);
        display: block;
        height: 100%;
        width: 100%;
        span { z-index: 9001; position: relative; }
        &:hover {
          &:after {
            margin-top: -140%;
            opacity: .75;
            @include transition (all .5s ease-in-out);
          }
        }
      }
        &:hover {
          .duration {
            margin-top: 60%;
            color: #111;
            background-color: #fff;
            @include transition (all .5s ease-in-out);
          }
          &:after {
          }
          a {
            z-index: 9001;
            @include pad(.5rem 0.15rem 0.15rem 55%);
          }
        }
        h4 {
          height: 100%;
          margin: 0 0;
        }

        margin-bottom: 0;
        &:nth-child(even) {
          background: #6689a3;
        }

        &:nth-child(odd) {
          background: #a6b5bc;
        }
        @include media($large) {
          @include span-columns(2.846, block-collapse);
          @include pad(0 0 0 0);

          &:nth-of-type(1) {
            margin-left: 26.6%;
            /*@include shift(3.1);*/
          }
          &:nth-of-type(4) {
            @include span-columns(2.968, block-collapse);
            @include shift(.13);
          }
          &:nth-of-type(6) {
            @include span-columns(2.85, block-collapse);
          }
          &:nth-of-type(7) {
            @include span-columns(3.2, block-collapse);
          }
        }
    }
    .tribe-events-first {}
    .tribe-events-last {}
  }

  .home--recent-tweets {
    @include span-columns(10);
    @include shift(1);
    @include media($large) {
      @include span-columns(3);
      @include shift(2.5);
      @include pad(0 $gutter/2);
      margin-top: 6rem;
    }
    h2 { font-size: 1.5rem; }
    ul {
      padding: 0;
      font-size: .85rem;
      li {
        font-size: .65rem;
      }
    }
    a {
      color: #f0c214;
    }
  }



}
ul.footer-widgets {
  padding: 0;
}

body:not(.events-gridview):not(.events-single):not(.page-gallery):not(.page-contact):not(.search-results) {
  .site-header { position: relative; z-index: 10; }
  .post-meta { position: relative; z-index: 11; }
  .post-content { z-index: 1; }
}
body.page-gallery,
body.search-results,
body.page-contact,
body.events-single,
body.events-gridview {
  .site-header { position: relative; z-index: 1; }
  .post-content { z-index: 1; }
}
.tribe-bar-submit {
}

.tribe-events { }

.single-tribe_events  {
  .page-content {
    @include span-columns(10);
    @include shift(1);
  }
  .tribe-events-event-meta {
    color: #fff;
  }

}

.single-tribe_events .tribe-events-event-meta {
  background: #111;
  a {
    color: #83AAC9;
  }
}
.tribe-events-meta-group-gmap {
  @include span-columns(12);
}

/**
 * Location and Hours Information
 */
.page-content {
  @include row();
}

.site-footer {
  clear: both;
  li {
    list-style: none; }

  a {
    color: #fff;
    &:hover {
      color: #f0c214;
      @include transition (all .5s linear);
    }
  }

  div.menu {
    ul.menu {
      border-top: 3px #BF9713 double;
      a {
        border-bottom: 1px solid #6689A3;
        display: block;
        /*@include pad(.3rem 0 default 0);*/
        text-transform: lowercase;
        font-variant: small-caps;
      }
    }
  }

  .home--copyright {
    font-size: .85rem;
  }

  .footer-widgets {
    .home--info {
      h4 {
        @include transform(scaleY(1) rotate(-90deg));
        font-style: italic;
        left: -120px;
        position: absolute;
      }
    }

  }
}

body.home {
  .site-footer {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}
.site-footer {
  height: 560px;
  div.menu {
    @include span-columns(10);
    @include shift(1);
    position: relative;
    z-index: 9001;
    @include media($large) {
      @include span-columns(5.5);
      @include shift(.5);
    }
    .menu {
      margin: 0; padding: 0;
      @include media($large) {
        @include shift(1);
      }
    }
    ul { }
    li {
      @include span-columns(6);
      &:nth-child(even) {
        @include span-columns(6);
        @include omega();
      }
      @include media($large) {
        @include span-columns(3, block-collapse);
      }
    }
  }

  ul.footer-widgets {
    position: relative;
    padding-top: 150px;
    @include clearfix;
    @include media($large) {
      padding-top: 0;
      margin-top: 0;
      @include span-columns(6);
    }

    @include media($large) {
      height: 100%;
      margin-bottom: 0;
      margin-top: -50px;
      left: 15px;
    }

    &:before {
      background-color: #6689A3;
      content: " ";
      height: 200%;
      @include span-columns(6);
      position: absolute;
      z-index: 0;
      padding-bottom: 50px;
      left: 25%;
      @include media($large) {
        left: 0;
      }
    }

    .home--copyright {
      position: absolute;
      right: 0;
      z-index: 9001;
      @include transform(scaleY(1) rotate(-90deg) translateY(290%) translateX(42%));

      @include media($large) {
        position: absolute;
        @include shift(-10.75);
        right: auto;
        top: 50%;
        @include transform( none );
      }
    }
    .home--info {
      @include clearfix;
    }
    .home--info .textwidget {
      @include span-columns(6);
      @include shift(3);
      @include media($large) {
        @include span-columns(6);
        @include shift(0);
        margin-top: 90px;
        position: relative;
        z-index: 1;
      }
    }
      .info--location {
        margin-bottom: 6rem;
        h4 {
          left: -5px;
        }
        @include media($large) {
          margin-left: $gutter;
          h4 {
            left: -110px;
          }
        }
      }
      .info--hours {
        h4 {
          left: -30px;
        }
        @include media($large) {
          margin-left: $gutter;
          h4 {
            left: -140px;
          }
        }
      }
  }
}

.background-thumbnail {
  width: 100%;
  height: 100%;
  content: " ";
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
}

.byline {
  text-align: right;
  font-size: .6rem;
  position: relative;
  top: -.5rem;
  .source {
    color: #6689a3 !important;
  }
}

/**
 * FooGallery Plugin Overrides
 */
.foogallery-panel {
  display: none;
}

.foogallery-panel.active {
  display: block;
  cursor: not-allowed;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9001;
  padding: 1rem;
  background: #111;
  width: 100%;
  border-left: 3px #F0C214 double;
  @extend .grow-in;
  @extend .animated;
  img {
    max-height: 100%;
    margin: 0 auto;
    display: block;
    }
}

.menu-archive-widgets {
  margin-bottom: 2rem;
  @include clearfix;
  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  ul.inner {
  }

  .menu--choose {
    &:before {
      position: absolute;
      left: 0;
      margin-top: .3rem;
      @include shift(10);
      @extend .fa;
      @extend .fa-mail-reply;
    }
  }

  .menu-legend {
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      margin-top: .3rem;
      @include shift(.8);
      @extend .fa;
      @extend .fa-mail-forward;
    }

    ul {
      @include span-columns(8);
      @include shift(1.75);
      @include clearfix;
      border-bottom: 3px double #2E6F89;
      li {
        @include span-columns(3);
        text-align: center;
        padding-bottom: .5rem;
      }
    }
  }
}

.page-content {
  .menu {
    @include clearfix;
    .wine-menu,
    .foods-menu,
    .drinks-menu {
      background-color: #222;
      border-bottom: 3px #C6A013 double;
      margin-bottom: 2rem;
      ul {
        padding: 0;
        margin-bottom: 0;
        list-style: none; }
      @include span-columns(8);
      @include shift(1.75);
      @include clearfix;
      text-align: center;
      a {
        display: inline-block;
        font-style: italic;
        text-transform: uppercase;
        color: #fff;
        @include pad(.5rem default);
      }
      li {
        margin: 0 0;
        display: inline;
      }
    }
  }
}

.home-aside-widgets {
  @include span-columns(11);
  @include shift( 1 );
  @include media($large) {
    @include span-columns(2.5);
    @include shift( .5 );
  }
  ul { margin: 0; padding: 0; list-style: none; }
}
.home--recent-items {
  a {
    text-transform: lowercase;
    font-variant: small-caps;
    display: block;
    border-right: 3px #F0C214 double;
    margin-bottom: .5rem;
    color: #C6A013; }
  h2 {
    border-bottom: none;
    margin: 0 0 1rem;
    @include media($large) {
      margin: 7rem 0px 1rem;
    }
  }
  .menu-recent-menu-container { }
}

.chi_display_header {
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100% !important;

  & + .menu {
    display: none !important;
  }
}

.home-display-widgets {
  z-index: 20;
}
.site-meta {
  z-index: 10;
  position: relative;
}

#tribe-bar-collapse-toggle { color: #111; }
.tribe-events-list-separator-month { color: #111; }
.tribe-events-event-meta { color: #111; }
.tribe-events-day .tribe-events-event-meta { color: #fff; }
.tribe-events-day .tribe-events-day-time-slot h5 { color: #111; }

body.login { 
  background-color: #222; 
}
body.login #login,
body.login #lostpasswordform {

  .button { 
    background-color: #f0c214;
    border: 1px #222 solid;
    color: #111;
  }
  .button-primary {
  }
  .button-large {
  }

  h1 {
    a {
      background-image: url(//absolvewinelounge.com/wp/wp-content/uploads/2014/10/logo-test-04-01.png);
    }
  }
  .message {
    background-color: #666;
    opacity: .4;
    color: #fff;
  }
  .input {
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
  }
  &, & form {
    background-color: #666;
    label {
      color: #111; 
    }
  }
  .forgetmenot { }
  .submit { }
  #nav { }
  #backtoblog { }
}

.tribe-events-loop .tribe-events-event-meta,
.tribe-events-schedule {
  @include media($small) {
    color: #111;
  }

  @include media($medium) {
    color: #111;
  }

  @include media($large) {
    color: #fff;
  }

  @include media($xlarge) {
    color: #fff;
  }

}

.menu-wines-introduction-widgets, 
.menu-foods-introduction-widgets,
.menu-drinks-introduction-widgets { 
  @include span-columns(10);
  @include shift(.75);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
