/******************************************************************************\
	General
\******************************************************************************/

article {
	@include clearfix;
}

.archive-title, .search-title h1 {
  @include font-size(1.3);

  font-weight: normal;
  background: $color2;
  text-align:center;
  color: $color1;
  margin-top: 0;
  margin-bottom:0;
  padding: 0.6em 0;
}

.archive-description, .second-search {
  @include font-size(0.9);

  font-style: italic;
  margin-top:0;
  background: $color2;
  color: $color1;
  text-align: center;
  padding-top:0;
  padding-bottom: 0.8em;

  p {
    margin:0;
  }

  form {
    margin-top:0.5em;
    margin-bottom: 0.6em;
  }

  input {
    box-shadow:none;
  }
}

/******************************************************************************\
	Standard-page
\******************************************************************************/

.post-title {
	@include span-columns(10);
	@include shift(1);

  /*
	 *border-top: 0.03em solid $color2;
	 *border-bottom: 0.03em solid $color2;
   */
	text-align: left;
	margin-bottom: 0.2em;
  font-family: $header-font;
  font-size: 1.3rem;
  padding: 0 0rem;
  color: #f9f9f9;

	&:first-child {
		margin-top: 1em;
	}
}

.single .post-title {
	&:first-child {
		margin-top: 5rem;
	}
}

.post-links {
  position: relative;
  z-index: 9001;
  a {
    color: #83AAC9;
  }
}
.post-meta {
  @include span-columns(8);
  @include shift(.25);
  color: #fff;
  /*margin-top: -2em;*/

  text-align: left;
  font-style: italic;
  a {
    color: #83AAC9;
  }
}

body:not(.single-post) {
  .post-meta {
    a {
      /*
       *position: absolute;
       *top: 0;
       *left: 0;
       */
      /*color: #deb5e8;*/
    } } }

.post-content {
	@include span-columns(10);
	@include shift(1);

	position: relative;
	background: $color2;
	color: $color1;
	padding: 1.5em;
	margin-top: 1.5em;
  a {
    color: #83AAC9;
  }
}

.page .post-content {
	margin-bottom:3.5em;
}


/******************************************************************************\
	Front-page and archives
\******************************************************************************/

/*
single
single-tribe_events
postid-59
logged-in
admin-bar
custom-background
tribe-filter-live
events-single
tribe-theme-absolvution
page-template-page-php
singular
customize-support
tribe-is-responsive
*/
body.single-menu_item,
body.home,
body.blog,
body.single-post,
body.search-results {
  .page-content {
    z-index: 9001;
    position: relative;
    margin-bottom: 5rem;
  }
}
body.single-menu_item {
  .page-content {
    @include span-columns(12);
    .menu_item {
      @include span-columns(8);
    }
  }
}
body.search-results .post-content {
  padding-top: 0;
  margin-top: 0;
  color: #fff;
  .price-tag {
    color: #F0C214;
    font-weight: 700;
  }
}

body:not(.home):not(.events-gridview):not(.page-contact):not(.page-gallery):not(.events-single) {
  .post, .page, .archive, .search, .author {

    .post-content {
      @include span-columns(5);
      background: none;
      color: $color2;
      padding: 0;
      text-align: left;
      position: relative;
      z-index: 25;
    }

  }
}

body.home .page-content {
  @include clearfix;
  margin-bottom: 0;
  .page {
    @include span-columns(5.5);
    @include shift(.5);
    .post-content {
      color: $color2;
      padding: 0;
      text-align: left;
      position: relative;
      z-index: 25;
      background: none;
      @include span-columns(11);
    }
  }
}

body.search-results {
  img { position: absolute; left: -9999px; }
}

body.page-contact,
body.search-results,
body.page-gallery {
  .post-content {
    background-color: transparent;
  }
}
body.page-contact {
  .google-maps-builder-wrap {
    @extend .fade-in;
    @extend .animated;
  }
  .contact-form-7-container,
  .parties-contact-container {
    @include span-columns(6);
  }
  .contact-form-7-container {
    @include shift(.5);
  }
  .parties-contact-container {
    @include shift(-.5);
  }
  .post-content {
    color: #fff;
    h2, h3, p, ul, ol, dl {
      @include span-columns(11);
      @include shift(.5);
    }
  }
}
/*body.single-post,*/
body.page-contact,
body.page-gallery {
  .post-content {
    @include span-columns(12);
    @include shift(0);
    @include pad(0);
  }
}

.page-content .pagination {
  ul {
    background-color: #222;
    margin: 0 0 2rem;
    padding-top: 0;
  }
}

.pagination {
  @include span-columns(5, block-collapse);
  @include shift(3.5);
  @include clearfix;
  color: #fff;
  position: relative;

  span.page-numbers {
  }
  span.page-numbers.current {
    font-size: 2rem;
  }

  a.page-numbers {
  }

  a.prev.page-numbers {
  }
  a.next.page-numbers {
  }

  /*border-bottom: 3px solid $color2;*/

  ul {
    list-style: none;
    text-align: center;
    margin: 1em 0 0 0;
    padding: 0.6em 0 0;
    background: $color1;
  }

  li {
    display: inline;
    margin: 0 0.5em;
  }

  a {
    color: #fff;
  }
}


/******************************************************************************\
  Widgets
\******************************************************************************/

.home-widgets {
  .inner {
    @include clearfix;
    padding-left: 0;
  }
}

.page-content .widgets {
  @include outer-container;

  .widgettitle {
    color: #fff;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3;

    @include media($medium) { @include font-size(1.2); }

    @include media($large) { @include font-size(2); }
  }

  .widget {
    @include span-columns(12);
    margin-bottom: 2em;
    color: shade($color1, 50%);

    &:last-child { margin-bottom: 0; }

    @include media($medium) {
      @include span-columns(4);
      @include omega(3n);
      @include font-size(.8);
      margin-bottom: 0;
    }

    @include media($large) { @include font-size(1); };
  }

  .wp-post-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1em;
  }

  .read-more {
    @include transition(padding .25s ease-in-out);
    border-bottom: 2px solid #fff;
    padding-bottom: 0.25em;

    &:hover { border-bottom: 2px solid #fff; }
  }
}

.page-template-default {
  .page-content {
    @include row();
    .page {
    }
    .type-page { }
  }
}

.search-title {
}

body.events-gridview,
body.events-single {
  .post-content {
    background-color: transparent;
    color: #fff;
  }
  .tribe-events-notices {
    @include span-columns(12);
    border-radius: 0 !important;
  }
  .tribe-events-page-title {
    color: #fff;
    @include clearfix;
    @include span-columns(12);
  }
  #tribe-events-content .tribe-events-calendar td {
    border: 10px solid #222;
  }
  .tribe-events-calendar div[id*="tribe-events-daynum-"] {
    background-color: #BF9713;
  }
  .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] {
    color: #111;
  }
  .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a {
  }
  .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a {
    color: #111;
    background-color: transparent;
  }
  .tribe-events-calendar div[id*="tribe-events-daynum-"],
  .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
    font-size: .85rem;
  }
  .tribe-events-calendar { font-size: .85rem; }
  .type-tribe_events {
    @extend .fade-down-in;
    @extend .animated;
  }
  td {
    &:hover {
      @extend .pulse;
      @extend .animated;
    }
  }
  label.label-tribe-bar-search { color: #2E6F89; }
  label.label-tribe-bar-date { color: #2E6F89; }
}
