$g: $gutter + $gutter;
.site-header {
  /*overflow: hidden;*/
  padding: 0;
  position:relative;
  /*
   *height: 300px;
   */
  background-color: #222;
  @include clearfix;
}

  .site-banner {

    @include span-columns(2.75, block-collapse);
    @include shift(.5);
    @include omega();
    background: #333333;

    &:before {
      @include span-columns(1);
      @include shift(-1);
      @include pad(0 default 0 0);
      content: ' ';
      background: #f0c214;
      position: absolute;
      height: 100%;
    }

    /*
     *.custom-header {
     *  position: absolute;
     *  top:0;
     *  left:0;
     *}
     */

    .logo {
      color: $color2;
      position: relative;
      z-index: 2;

      .blog-name {
        margin-bottom: 1em;
        margin-top: 4em;
        text-align: center;
        text-shadow: 0 0 .5em $color1;
        text-indent: -9999px;
        font-size: 1em;
        background-image: url('images/logo.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 150px;
        @include span-columns(12);
      }

      .blog-description {
        margin-bottom: 1.5em;
        text-align: center;
        font-style: italic;
        text-shadow: 0 0 .5em $color1;
      }
    }

    .main-menu {

    }
    ul.menu {
      list-style: none;
      padding: 0 0 5px 0;
      margin-bottom: 30px;
      text-align: center;
      @include row();
      li { padding: .25em 0; display: block; }
      a { color: #fff;
        text-transform: uppercase; }
    }
  }

  .site-twop {
    @include span-columns(8.75);
    @include omega();
    .menu {
      list-style: none;
      padding: 0;
    }
  }
    .site-meta {
      /*
       *@include span-columns(12);
       *@include omega();
       */
      @include row();

      .searchform {
        &:focus,
        &:active {
          input[type="text"] {
            /*
             *background: #fff;
             */
            color: #fff; }
          div::after {
            @extend .wiggle;
            @extend .animated;
            color: #fff;
          }
        }

        @include span-columns(8 of 12, block-collapse);

        input {
          background-color: #111;
          box-shadow: none;
          border: none;
          color: #fff;
          display: block;
          &:focus {
            outline: none;
          }
          &[type="text"]::before {
            content: "Placeholder...";
            color: #fff;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
          }
          &[type="text"] {
            background-color: #111;
            @include span-columns(6, block-collapse);
            @include shift-in-context(6);
            @include pad(.5rem $g .5rem default);
            position: relative;
            left: -($gutter/2);

            &:focus {
              background-color: transparent;
              @include transition(background-color);
              color: #fff;

            }
            &:focus {
              @extend .fade-in;
              @extend .animated;
            }
            &:focus + input {
              @extend .wiggle;
              @extend .animated;
            }
          }

          &#searchsubmit {
            position: absolute;
            z-index: 100;
            text-indent: -9999px;
            width: 50px;
            background: transparent;
            right: 0;
            border: none;
          }
        }

        div { @include row(); text-align: right; position: relative; }
        div::after {
          color: #fff;
          content: "\f002";
          @extend .fa;
          position: absolute;
          z-index: 99;
          right: 17px;
          top: .5em;
        }

      }

      div.menu {
        @include span-columns(4 of 12);
        @include clearfix; }
      .meta-menu {
        @include clearfix;
        @include span-columns(12);
      }
      ul.menu {
        @include span-columns(12);
        @include clearfix;
        li {
          @include span-columns(4 of 12);
          position: relative;
          top: .5em;
        }
        a {
          color: #fff;
          text-transform: lowercase;
          font-variant: small-caps;
          font-size: .85em;
          text-align: center;
          display: block;
        }
      }
    }

    .site-caro {
      @include span-columns(12);
      @include omega();
      margin-top: 7em;
      & > div.menu {
        @include row();
      }
      .caro-menu {
        @include span-columns(12);
      }
      .long-logo {
        @include span-columns(4, block-collapse);
        @include shift(4);
        position: relative;
        z-index: 2;
        .inner {
          position: absolute;
          width: 100%;
          .placeholder {
            height: 600px;
            width: 100%;
            background: #4bb4e0;
            position: relative;
            opacity: .8;
            /*
             *.logo {
             *  position: absolute;
             *  background-image: url('./images/logo.png');
             *  background-repeat: no-repeat;
             *  background-size: 100%;
             *  display: block;
             *  height: 172px;
             *  width: 100%;
             *  bottom: 0;
             *}
             */
          }
        }
      }
      ul.menu {
        @include span-columns(12);
        margin-bottom: 0;
      }
      .img-monad {
        &:nth-of-type(2) {
          @include shift(4);
        }
      }
      li {
        @include span-columns(4 of 12, block-collapse);
        background-size: cover;
        min-height: 285px;
        /*
         *&.last {
         *  @include shift(4);
         *}
         */
      }
    }
