.sticky {
	background: none;
	.post-title {}
}

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.aligncenter {
	float: none;
}

.wp-caption-text {
	background: $color1;
}

.gallery-caption {
	background: $color1;
}

ol.comment-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  a {
    color: #2b87c3;
  }
  position: relative;
  li.bypostauthor {
    /*background: $color1;*/
    /*background-color: #111;*/
    margin-top: 3em;
    color: #f9f9f9;
    @include transition (all 1.0s ease-in-out);
    &:target {
      @include span-columns(12);
      @include media($large) {
        @include span-columns(6);
        @include shift(3);
      }
      background-color: #111;
      position: fixed;
      top: 0.1em;
      left: 0;
      @extend .fade-in;
      @extend .animated;
      z-index: 9001;
      .comment-author {
        border-bottom: 3px #f0c214 double;
      }
      a[href*="close"] {
        color: #c1503a !important;
        position: absolute;
        left: 5%;
        top: 5%;
        .label {
          text-indent: -9999px;
          display: inline-block;
        }
        .icon {
          @extend .fa;
          @extend .fa-close;
        }
      }
    }
    .comment-body {
    }
  }
}

.reply {
  .comment-reply-link { color: #deb5e8; }
  padding-left: $gutter;
}

div.post-links {

	@include clearfix;
  @include span-columns(12);
	margin: 1em auto;
  padding-top: 2rem;
  .container {
    @include span-columns(6);
    text-align: center;
  }
  text-transform: lowercase;
  font-variant: small-caps;
  .fa {
    color: #2E6F89;
  }

	a {
    color: #f0c214;
    background-color: #222;
    @include pad(.5rem default);
    margin: 0 .5rem;
		/*float: right;*/
	}

	a:first-child {
		/*float: left;*/
	}

}

.linked-page-nav {
	margin-top: 1em;
}

div:not(div#layout_page) .widget {
  @include span-columns(4);
  @include font-size(0.8);
  padding: 10em 1.8em;
  position: relative;

  h2 {
    @include font-size(1.1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
    border-bottom: 0.1em solid $color2;
  }

  ul {
    padding-left: 1.6em;
  }

  p {
    text-align: justify;
  }
}

div:not(div#layout_page) .widget:nth-child(3n) {
	@include omega();
}

div:not(div#layout_page) .widget:nth-child(3n+1) {
	clear: left;
}

.widget_search {

	label {
		display: block;
		padding: 0.2em 0;
	}

	input {
		width: 100%;
	}

}

#s {
  font-style: italic;
}
#searchsubmit, #submit {
	padding: 0.3em 0.4em;
	border: 1px solid $color1;
	margin-top: 0.2em;
	/*background-color: $color3;*/
	color: $color1;
	box-shadow: none;
}
/*
 *#comments:not(:target) {
 *  .comment-close {
 *    display: block !important;
 *    position: fixed;
 *    top: 2em;
 *    left: 50%;
 *    width: 1em;
 *    margin-left: -.5em;
 *    height: 1em;
 *    z-index: 9002;
 *    a {
 *      color: red;
 *    }
 *  }
 *}
 *body:not(:target) #comments .comment-close {
 *  display: none !important;
 *}
 */

.comments {
	@include span-columns(10);
	@include shift(1);
	@include font-size(0.9);
  color: #f9f9f9;

	background-color: $color1;
	margin-bottom: 3em;

	ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.comment-body {
	margin-bottom: 1.5em;
  p {
    padding-left: $gutter;
  }
}

.children .comment-body {
	padding-left: 2em;
}

.comment-author {
	/*border-top: 0.1em solid $color2;*/
	/*border-bottom: 0.1em solid $color2;*/
	border-bottom: 0.1em solid #222;
	text-align: center;
	padding: 0.6em 0;
	position:relative;

	img {
		position:absolute;
		bottom:0;
		right:0;
		height:100%;
		width:auto;
	}
}

ol.comment-list .comment-edit-link {
  color: #deb5e8;
}

.byuser .comment-author {
	/*background-color: $color3;*/
	color: $color1;
  color: #f9f9f9;

	a {
		color: $color1;
		text-decoration: underline;
	}
}

.comment-meta {
	text-align: center;
	margin-top:0.2em;
	margin-bottom: 0.8em;
}

.comments-title {
	@include font-size(1.1);
	text-align:center;
	margin-top: 0;
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
}

.comments {
  a {
    color: #deb5e8;
  }
  input,
  textarea {
    background: #111;
    color: #f9f9f9;
    &:focus {
      outline: none;
    }
  }

}
.comment-form-author,
.comment-form-email,
.comment-form-url {
  @include span-columns(12);
  label {
    @include span-columns(6);
  }
  input[type="text"] {
    @include span-columns(6);
    box-shadow: none;
  }
}
.comment #respond .comment-form-comment {
  input,
  textarea {
    background-color: #333 !important;
    box-shadow: none !important;
    height: 5rem;
  }
  display: flex;
  p {
  }
}

.comment-form-comment {
  label {
    position: absolute;
    left: -9999px;
  }

  textarea {
    width: 100%;
  }

  margin: 0;
}

.comment-reply-title {
  @include span-columns(12);
  @include pad(0 default);
}

.comment-form {
  @include span-columns(12);
  @include pad(0 default 2em);
}

.form-allowed-tags {
  position: absolute;
  left: -9999px;
}
.form-submit {
  margin-bottom: 0;
  input[type="submit"]#submit {
    color: #f9f9f9;
    background: transparent;
    border: none;
  }
}

.logged-in-as {

}

.comment-respond {
  @include span-columns(12);
}
body:not(.home) {
  .page-content {
    min-height: 20rem;
    margin-bottom: 5rem;
  }
}

.post-title,
h1.post-title {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
}

.single-menu_item article h1 {
  border-bottom: 3px #f0c214 double;
}
h2 {
  font-size: 1.5rem;
  border-bottom: 3px #f0c214 double;
}
.post-content h2 {
  &:first-child {
    width: auto;
    @include media($large) {
      width: 150%;
    }
  }
}

/*
 *body.term-foods {
 *  .page-content article.menu_item[data-price="0"] {
 *    display: none;
 *  }
 *}
 */

body.blog .post-meta,
body.single-post {
  .post-meta {
    color: #fff;
  }
}

body.archive {
  .page-content {

  }
  article#post-none {
    .post-title {
      padding-top: 2rem;
    }
    .post-content {
      &:before {
        padding-top: 0;
      }
      @include span-columns(12);
      @include shift(1);
    }
  }
}

body.term-charcuterie-cheese {
  .site-meta ul.menu a {
    color: #111;
  }
}

body.term-desserts {
  .chi_display_header {
    opacity: .5;
  }
}

body.search {
  .page-content {
    @include span-columns(12);
    @include shift(.2);
    position: relative;
    z-index: auto !important;
    article.tribe_events,
    article.page {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
      @include span-columns(11.6);
      @include media($large) {
        @include span-columns(5.8);
      }
      /*overflow: hidden;*/
      height: 5rem;
      margin-bottom: 2rem;
      &:hover .price-tag {
        @extend .flip;
        @extend .animated;
      }
      &:hover {
        .post-title {
          a {
            position: relative;
          }
        }
      }
      &.no-feature-image {
        height: 5rem;
        .post-title {
          height: 5rem;
        }
        .price-tag {
          top: 3rem;
        }
      }
      .post-title {
        position: absolute;
        z-index: 21;
        margin: 0;
        @include transition (all .5s ease-in-out);
        @include span-columns(11.6);
        @include media($large) {
          @include span-columns(5.8);
        }
        height: 5rem;
        padding-left: .3rem;
        padding-top: .3rem;
        border-bottom: 1px #c6a013 solid;
        font-size: .9rem;
        @include media($large) {
          font-size: 1.3rem;
        }
        a {
          height: 100%;
          display: block;
        }
      }
    }

    .price-tag {
      display: none;
      position: absolute;
      z-index: 28;
      top: 3rem;
      right: 5%;
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 1.5rem;
      /*background: #222;*/
      padding: 0 .4rem;
      &:after {
        content: "USD";
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 0;
        word-spacing: 0;
        background: #c6a013;
        padding: 0 .4rem;
        bottom: .1rem;
        position: relative;
      }
    }
  }
}

body.search,
body.archive,
body.term-happy-hour,
body.term-wine,
body.term-foods {

  .read-more {
    position: absolute;
    left: -9999px;
  }

  .post-meta {
    height: 0;
  }
  .site-header {
    z-index: 0 !important;
  }

  .archive-title {
    position: relative;
    z-index: 9001;
    @include shift(-.2);
    margin-bottom: 2rem;
  }
  .post-meta {
    position: absolute;
    left: -9999px;
  }
  .post-content {
    background-color: transparent;
    margin-bottom: 5rem;
  }
  .page-content .menu_item {
    &:hover {
      img { opacity: 1; }
    }
  }

  .page-content {
    @include span-columns(12);
    @include shift(.2);
    position: relative;
    z-index: auto !important;
    article.menu_item {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
      @include span-columns(11.6);
      @include media($large) {
        @include span-columns(5.8);
      }
      /*overflow: hidden;*/
      height: 5rem;
      margin-bottom: 2rem;
      &:hover .price-tag {
        @extend .flip;
        @extend .animated;
      }
      &:hover {
        .post-title {
          a {
            position: relative;
          }
        }
      }
      &.no-feature-image {
        height: 5rem;
        .post-title {
          height: 5rem;
        }
        .price-tag {
          top: 3rem;
        }
      }
      .post-title {
        position: absolute;
        z-index: 21;
        margin: 0;
        @include transition (all .5s ease-in-out);
        @include span-columns(11.6);
        @include media($large) {
          @include span-columns(5.8);
        }
        height: 5rem;
        padding-left: .3rem;
        padding-top: .3rem;
        border-bottom: 1px #c6a013 solid;
        font-size: .9rem;
        @include media($large) {
          font-size: 1.3rem;
        }
        a {
          height: 100%;
          display: block;
        }
      }
    }
    .price-tag {
      position: absolute;
      z-index: 28;
      top: 3rem;
      right: 5%;
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 1.5rem;
      /*background: #222;*/
      padding: 0 .4rem;
      &:after {
        content: "USD";
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 0;
        word-spacing: 0;
        background: #c6a013;
        padding: 0 .4rem;
        bottom: .1rem;
        position: relative;
      }
    }
  }

  .post-content {
    background: none;
    color: $color2;
    padding: 0;
    text-align: left;
    position: relative;
    z-index: auto !important;
    margin: 0;

    .price-tag {
      position: absolute;
      z-index: 28;
      top: 3rem;
      right: 5%;
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 1.5rem;
      /*background: #222;*/
      padding: 0 .4rem;
      &:after {
        content: "USD";
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 0;
        word-spacing: 0;
        background: #c6a013;
        padding: 0 .4rem;
        bottom: .1rem;
        position: relative;
      }
    }
    p {
      display: none;
      top: 0;
      position: absolute;
      font-size: 1.3rem;
    }
  }

  .post-content,
  .post-content img{
    width: 100%; /* gotta be responsive these days */
  }
  .post-content {
    background-color: #222;
    /*
     *overflow: hidden;
     */
    /* remove white-space for inline-block elements */
    letter-spacing: -0.31em; /* webkit */
    *letter-spacing: normal; /* reset IE < 8 */
    word-spacing: -0.43em; /* IE < 8 && gecko */
  }
  .post-content:before,
  .post-content img{
    /* vertically center the image */
    display: inline-block;
    vertical-align: middle;
  }
  .post-content:before{
    /* pseudo element to vertically align image to */
    content: "";
    /* Magic Number */
    /* Set this to your desired height(to width) ratio */
    padding-top: 50%; /* % of original image width */
  }
  .post-content img{
    /* removes(sorta) image from the flow */
    margin: -999em 0%;
    padding-left: 0px;
    opacity: .5;
  }

  .menu-item-tags + .menu-item-categories {
    display: none;
  }

  .menu-item-tags,
  .menu-item-categories {
    position: absolute;
    top: 3.2rem;
    padding-left: .3rem;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: .85rem;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: .8rem;
    @include span-columns(12);

    a { color: #ccc; }
    a[href*="glass"] {
      text-indent: -9999px;
      display: block;
      &:after {
        content: "Glass";
        text-indent: 0px;
        display: block;
        vertical-align: bottom;
        margin-top: -.85rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      @include clearfix;
    }
    li {
      display: table-cell;
      vertical-align: bottom;
      height: 1.6rem;
      padding-right: 1rem;
    }
  }

}

body.single-menu_item {
  .post-content {
    background-color: transparent;
  }
  .post-content {
    @include span-columns(10);
    @include shift(1);
    @include media($large) {
      @include span-columns(5);
    }
    background: none;
    color: $color2;
    padding: 0;
    text-align: left;
    position: relative;
    z-index: 25;
  }
  .menu-item-price {
    @include span-columns(5.5);
    @include shift(1);
    .label {
      text-transform: lowercase;
      font-variant: small-caps;
      color: #c6a013;
    }
    .value {
      color: #fff;
    }
    span.value:after {
      content: "USD";
    }
  }
  .menu-item-tags,
  .menu-item-categories {
    margin-top: 1rem;
    @include span-columns(10);
    @include shift(1);
    @include media($large) {
      @include span-columns(5.5);
      @include shift(1);
    }
    font-variant: small-caps;
    text-transform: lowercase;
    li {
      color: #fff;
      border-left: 3px #f0c214 double;
      padding-left: .5rem;
    }
    a {
      color: #fff;
    }
    ul {
      margin: 0;
      padding: 0;
      @include clearfix;
      list-style: none;
    }
    li {
    }
  }
}

body.search .search-title {
  @include shift(-.5);
  margin-bottom: 2rem;
}
