.sticky {

	background: none;

	.post-title {}
}

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.aligncenter {
	float: none;
}

.wp-caption-text {
	background: $color1;
}

.gallery-caption {
	background: $color1;
}

ol.comment-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  a {
    color: #2b87c3;
  }
  position: relative;
  li.bypostauthor {
    /*background: $color1;*/
    /*background-color: #111;*/
    margin-top: 3em;
    color: #f9f9f9;
    @include transition (all 1.0s ease-in-out);
    &:target {
      @include span-columns(6);
      @include shift(3);
      background-color: #111;
      position: fixed;
      top: 0.1em;
      left: 0;
      @extend .fade-in;
      @extend .animated;
      z-index: 9001;
    }
    .comment-body {
    }
  }
}

.reply {
  .comment-reply-link { color: #deb5e8; }
  padding-left: $gutter;
}

.post-links {

	@include clearfix;
	width: 70%;
	margin: 1em auto;

	a {
		float: right;
	}

	a:first-child {
		float: left;
	}

}

.linked-page-nav {
	margin-top: 1em;
}

div:not(div#layout_page) .widget {
  @include span-columns(4);
  @include font-size(0.8);
  padding: 10em 1.8em;
  position: relative;

  h2 {
    @include font-size(1.1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
    border-bottom: 0.1em solid $color2;
  }

  ul {
    padding-left: 1.6em;
  }

  p {
    text-align: justify;
  }
}

div:not(div#layout_page) .widget:nth-child(3n) {
	@include omega();
}

div:not(div#layout_page) .widget:nth-child(3n+1) {
	clear: left;
}

.widget_search {

	label {
		display: block;
		padding: 0.2em 0;
	}

	input {
		width: 100%;
	}

}

#searchsubmit, #submit {
	padding: 0.3em 0.4em;
	border: 1px solid $color1;
	margin-top: 0.2em;
	/*background-color: $color3;*/
	color: $color1;
	box-shadow: none;
}
/*
 *#comments:not(:target) {
 *  .comment-close {
 *    display: block !important;
 *    position: fixed;
 *    top: 2em;
 *    left: 50%;
 *    width: 1em;
 *    margin-left: -.5em;
 *    height: 1em;
 *    z-index: 9002;
 *    a {
 *      color: red;
 *    }
 *  }
 *}
 *body:not(:target) #comments .comment-close {
 *  display: none !important;
 *}
 */

.comments {
	@include span-columns(10);
	@include shift(1);
	@include font-size(0.9);
  color: #f9f9f9;

	background-color: $color1;
	margin-bottom: 3em;

	ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.comment-body {
	margin-bottom: 1.5em;
  p {
    padding-left: $gutter;
  }
}

.children .comment-body {
	padding-left: 2em;
}

.comment-author {
	/*border-top: 0.1em solid $color2;*/
	/*border-bottom: 0.1em solid $color2;*/
	border-bottom: 0.1em solid #222;
	text-align: center;
	padding: 0.6em 0;
	position:relative;

	img {
		position:absolute;
		bottom:0;
		right:0;
		height:100%;
		width:auto;
	}
}

ol.comment-list .comment-edit-link {
  color: #deb5e8;
}

.byuser .comment-author {
	/*background-color: $color3;*/
	color: $color1;
  color: #f9f9f9;

	a {
		color: $color1;
		text-decoration: underline;
	}
}

.comment-meta {
	text-align: center;
	margin-top:0.2em;
	margin-bottom: 0.8em;
}

.comments-title {
	@include font-size(1.1);
	text-align:center;
	margin-top: 0;
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
}

.comments {
  a {
    color: #deb5e8;
  }
  input,
  textarea {
    background: #111;
    color: #f9f9f9;
    &:focus {
      outline: none;
    }
  }

}
.comment-form-author,
.comment-form-email,
.comment-form-url {
  @include span-columns(12);
  label {
    @include span-columns(2);
  }
  input[type="text"] {
    @include span-columns(5);
    box-shadow: none;
  }
}
.comment #respond .comment-form-comment {
  input,
  textarea {
    background-color: #333 !important;
    box-shadow: none !important;
    height: 5rem;
  }
  display: flex;
  p {
  }
}

.comment-form-comment {
  label {
    position: absolute;
    left: -9999px;
  }

  textarea {
    width: 100%;
  }

  margin: 0;
}

.comment-reply-title {
  @include span-columns(12);
  @include pad(0 default);
}

.comment-form {
  @include span-columns(12);
  @include pad(0 default 2em);
}

.form-allowed-tags {
  position: absolute;
  left: -9999px;
}
.form-submit {
  margin-bottom: 0;
  input[type="submit"]#submit {
    color: #f9f9f9;
    background: transparent;
    border: none;
  }
}

.logged-in-as {

}

.comment-respond {
  @include span-columns(12);
}
